a,
a:hover,
a:visited,
a:active {
    color: inherit;
}

body {
    background-color: salmon;
}

header {
    background-color: #494949;
    color: #fff;
    font-weight: bold;
}

#salmon {
    display: block;
    width: 30%;
    margin: auto;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 0px;
    font-size: 30px;
}

nav {
    width: 80%;
    margin: auto;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 15px;
    font-size: 24px;
}

.link {
    margin: 0;
}

main {
    width: 960px;
    margin: auto;
}

main img {
    padding-top: 30px;
}

#family{
    width: 960px;
    height: 450px;
}

#one {
    padding-right: 15px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 320px;
    height: 300px;
}

#two {
    padding-right: 15px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 320px;
    height: 300px;
}

#three {
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 320px;
    height: 300px;
}

aside {
    padding-right: 500px;
    float: left;
    overflow: hidden;
    box-sizing: border-box; 
    display: block;
    padding-bottom: 500px;
    width: 480px;
    height: 400px;
}

div {
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
    width: 45%;
    height: 340px;
    box-sizing: border-box;
    font-size: 20px;
    overflow-y: scroll;
}

button {
    height: 50px;
    font-size: 20px;
    background-color: cadetblue;
}

#image {
    width: 480px;
    height: 400px;
}

button:hover {
    background-color: crimson;
}

.clear-float {
    clear: both;
    overflow: hidden;
}

footer {
    background-color: #494949;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

table {
    border: solid 4px black;
    size: 16px;
    margin: auto;
}

td {
    border: solid 2px black;
    padding: 15px;
}

th {
    border: solid 2px black;
}

thead th {
    border: solid 2px black;
    border-bottom: solid 4px black;
}

thead td {
    border: solid 2px black;
    border-bottom: solid 4px black;
}

